* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0A122A;
}

body.index {
    height: 100%;
    background-image: url(../image/bit6-logo.png);
    background-size: cover;
    position: relative;
}

.index .header {
    text-align: center;
    margin-top: 12%;
    font-size: 64px;
}

.index .path {
    margin-top: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a.link {
    font-size: 40px;
    padding: 24px 32px;
    background-color: #E7DECD;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
}

a.link:hover {
    color: #0a122ad7;
    background-color: #e7decde7;
}

a.link:active {
    color: #0A122A;
    background-color: #E7DECD;
}

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loginMid {
    background-color: #E7DECD;
    width: fit-content;
    padding: 40px 52px;
    border-radius: 20px;
    margin-top: 8%;
}

div.regisMid {
    background-color: #E7DECD;
    width: fit-content;
    padding: 40px 52px;
    border-radius: 20px;
    margin-top: 4%;
}

.login .header {
    font-size: 40px;
    text-align: center;
}

label {
    font-size: 28px;
    font-weight: 500;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 4px 12px;
    border: solid 1px transparent;
    background-color: #FBFAF8;
}

.halfIn {
    width: 40%;
}

.name {
    display: flex;
    justify-content: space-between;
}

input:hover {
    border: solid 1px #804E49;
    background-color: #FBFAF8;
}

input:active {
    border: solid 1px #0A122A;
    background-color: whitesmoke;
}

.button {
    text-align: center;
}

button.button {
    background-color: #804E49;
    padding: 12px 20px;
    border-radius: 4px;
    border: 0px;
    color: #FBFAF8;
    font-weight: 500;
}

button.button:hover {
    background-color: #804e49b6;
}

button.button:active {
    background-color: #804e49;
}

.register {
    font-size: 12px;
    text-decoration: none;
}

.footer {
    text-align: center;
}

a.register {
    text-decoration: underline;
}

div.alert {
    text-align: center;
    color: #FE6D73;
}

div.successAlt {
    text-align: center;
    color: #17C3B2;
}