* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0A122A;
}

body.index {
    height: 100%;
    background-image: url(../image/bit6-logo.png);
    background-size: cover;
    position: relative;
}

.index .header {
    text-align: center;
    margin-top: 12%;
    font-size: 64px;
}

.index .path {
    margin-top: 12%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a.link {
    font-size: 40px;
    padding: 24px 32px;
    background-color: #E7DECD;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
}

a.link:hover {
    color: #0a122ad7;
    background-color: #e7decde7;
}

a.link:active {
    color: #0A122A;
    background-color: #E7DECD;
}

.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.loginMid {
    background-color: #E7DECD;
    width: fit-content;
    padding: 40px 52px;
    border-radius: 20px;
    margin-top: 8%;
}

div.regisMid {
    background-color: #E7DECD;
    width: fit-content;
    padding: 40px 52px;
    border-radius: 20px;
    margin-top: 4%;
}

.login .header {
    font-size: 40px;
    text-align: center;
}

label {
    font-size: 28px;
    font-weight: 500;
}

input {
    width: 100%;
    border-radius: 8px;
    padding: 4px 12px;
    border: solid 1px transparent;
    background-color: #FBFAF8;
}

.halfIn {
    width: 40%;
}

.name {
    display: flex;
    justify-content: space-between;
}

input:hover {
    border: solid 1px #804E49;
    background-color: #FBFAF8;
}

input:active {
    border: solid 1px #0A122A;
    background-color: whitesmoke;
}

.button {
    text-align: center;
}

button.button {
    background-color: #804E49;
    padding: 12px 20px;
    border-radius: 4px;
    border: 0px;
    color: #FBFAF8;
    font-weight: 500;
}

button.button:hover {
    background-color: #804e49b6;
}

button.button:active {
    background-color: #804e49;
}

.register {
    font-size: 12px;
    text-decoration: none;
}

.footer {
    text-align: center;
}

a.register {
    text-decoration: underline;
}

.alert {
    text-align: center;
    color: #FE6D73;
}

.successAlt {
    text-align: center;
    color: #17C3B2;
}

.notiTextOn {
    text-align: center;
    padding: 4px 8px;
    font-size: 16px;
    background-color: #17c3b28f;
    border-radius: 4px;
}

.notiDes {
    text-align: center;
}

.notiTextOff {
    text-align: center;
    padding: 4px 8px;
    font-size: 16px;
    background-color: #fe6d728f;
    border-radius: 4px;
}

.notiTextAllOff {
    background-color: #fe6d725d;
    box-shadow: #fe6d725d 0px 0px 6px;
    padding: 0px 0px 12px 0px;
}

.notiTextAllOn {
    background-color: #17c3b25d;
    box-shadow: #17c3b25d 0px 0px 6px;
    padding: 0px 0px 12px 0px;
}

.notiInside {
    color: #0A122A;
    font-size: 16px;
    font-weight: 600;
    padding: px 0px 0px 0px;
}

.navPages {
    margin: 0px;
}

.viewerFlex {
    display: flex;
    justify-content: space-between;
}

.moniItem {
    width: 70%;
}

.viewerPages {
    margin: 0px 32px;
}

.moni,
.data,
.noti,
.manual,
.feedback,
.system,
.manage,
.trouble,
.sensor,
.info,
.reset {
    color: #FBFAF8;
    background-color: #804E49;
    padding: 12px 20px;
    margin: 0px;
}

.moniItem,
.dataItem,
.infobox,
.resetbox {
    border: 1px solid #E7DECD;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dataItem {
    height: 199.2px;
    width: 241.762px;
    align-items: center;
    padding: 4px 12px;
}

.moniItem,
.infobox {
    margin-bottom: 40px;
}

.notiItem {
    height: 100%;
    border: 1px solid #E7DECD;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mornitorName {
    text-align: center;
}

div.mornitor {
    margin: 12px 16px;
    padding: 8px 12px;
    border: 1px solid rgba(149, 157, 165, 0.6);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 16px;
    border-radius: 12px;
}

.monitorLogo {
    width: 100px;
}

.MornitorItem {
    display: flex;
    align-items: center;
    padding: 4px 12px;
}

span.mornitorName {
    font-weight: 600;
}

span.mornitorStatus {
    font-weight: 450;
}

.manualItem {
    display: flex;
    padding: 12px;
    justify-content: space-around;
}

.upperRight,
.upperLeft {
    width: 48%;
    border: 1px solid #E7DECD;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.lowerContent,
.infobox,
.resetbox {
    border: 1px solid #E7DECD;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0px 20px 20px 20px;
}

.tableLower {
    margin: 0px 20px 20px 20px;
}

.upperContent {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 40px 20px;
}

.manualButton {
    padding: 12px;
    border: none;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid rgba(149, 157, 165, 0.6);
}

.manualButton:hover {
    box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 6px;
}

.manualButton:active {
    box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 12px;
}

.manualButtonOpen {
    background-color: #E7DECD;
    padding: 12px;
    border: none;
    border-radius: 50px;
    border: 1px solid rgba(149, 157, 165, 0.6);
}

.close {
    color: #FE6D73;
}

.open {
    color: #17C3B2;
}

.sensorValue {
    color: #0A122A;
}

.feedbackform {
    padding: 12px 20px;
}

textarea {
    width: 100%;
    resize: vertical;
    border: 1px solid rgba(149, 157, 165, 0.6);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 6px;
    margin: 12px 0px;
}

.sensorItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 12px 12px 12px;
}

.buttonMid {
    text-align: center;
}